{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block content %}

	<div class="wrapper dg detail mt80">
		<div class="col_9">
			<h5 class="bl-title">{{ program.program_name }}</h5>
			<div class="archiev">

				<aside class="audio-wrap dfc">
					<audio controls><source src="{{ program.audio_file.file.url }}"></audio>
					<time>{{ program.broadcast_date|date:"d M Y" }}</time>
				</aside>

				<ul class="audio_ul dfc">
					{% for r in related %}
					<li class="audio_li">
						<a class="audio_a" href="{% url 'program_detail' r.id %}">
							<time>{{ r.broadcast_date|date:"d M Y" }}</time>
						</a>
					</li>
					{% endfor %}
										
				</ul>			
								
			</div>			

		</div>
		<div class="col_3">
			<h4>Place for facebook follow page.</h4>
		</div>
	</div>

{% endblock %}