{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div class="wrapper dg detail mt80">
		<div class="col_9">
			<h5 class="bl-title">Contact Us</h5>
			<form class="dg form">
				<div class="col_6 form-group dfc">
					<label for="name">Name</label>
					<input type="text" id="name" class="form-input">
				</div>
				<div class="col_6 form-group dfc">
					<label for="address">Address</label>
					<input type="text" id="address" class="form-input">
				</div>
				<div class="col_6 form-group dfc">
					<label for="phone">Phone</label>
					<input type="text" id="phone" class="form-input">
				</div>
				<div class="col_6 form-group dfc">
					<label for="email">Email</label>
					<input type="text" id="email" class="form-input">
				</div>
				<div class="col_12 form-group dfc">
					<label for="msg">Your Message</label>
					<textarea name="msg" class="form-input" rows="7"></textarea>
				</div>
			</form>
		</div>
		<div class="col_3">
			<h4>Place for facebook follow page.</h4>
		</div>
	</div>

{% endblock %}