{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<div class="wrapper dg detail mt80">
	<div class="col_9">

		<h5 class="bl-title">Contact Us</h5>

		{% if messages %}
		<div class="dg message">
			{% for message in messages %}
			<div class="col_12 alert alert-{{ message.tags }} dfc">
				{{ message }}
			</div>
			{% endfor %}
		</div>
		{% endif %}

		<form method="post" class="dg form">
			{% csrf_token %}

			<div class="col_6 form-group dfc">
				<label for="{{ form.name.id_for_label }}">Name</label>
				{{ form.name|add_class:"form-input" }}
			</div>

			<div class="col_6 form-group dfc">
				<label for="{{ form.address.id_for_label }}">Address</label>
				{{ form.address|add_class:"form-input" }}
			</div>

			<div class="col_6 form-group dfc">
				<label for="{{ form.phone.id_for_label }}">Phone</label>
				{{ form.phone|add_class:"form-input" }}
			</div>

			<div class="col_6 form-group dfc">
				<label for="{{ form.email.id_for_label }}">Email</label>
				{{ form.email|add_class:"form-input" }}
			</div>

			<div class="col_12 form-group dfc">
				<label for="{{ form.message.id_for_label }}">Your Message</label>
				{{ form.message|add_class:"form-input" }}
			</div>

			<div class="col_3 form-group dfc">
				<button class="btn btn-main-br btn-sm" type="submit">Send</button>
			</div>
		</form>

	</div>
	<div class="col_3">
		<h4>Place for facebook follow page.</h4>
	</div>
</div>


{% endblock %}