{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="wrapper dg detail mt80">
		<div class="col_9">
			<h2 class="title">{{post.title}}</h5>
			<div class="content dfc">
				<aside class="img-outer">
					{% if post.image %}
						<img src="{{ post.image.file.url }}" alt="{{ post.title }}">
					{% else %}
						<img src="{% static 'images/default.jpg' %}" alt="{{ post.title }}">
					{% endif %}
				</aside>
				{{ post.content|safe }}
			</div>			

		</div>
		<div class="col_3">
			<h4>Place for facebook follow page.</h4>
		</div>
	</div>

{% endblock %}