<footer class="footer mt80">
    <div class="wrapper dg inner">
        <div class="col_4">
            <h3 class="footer_title">Short Navigation</h3>
            <ul class="footer_ul">
                <li class="footer_li litem">
                    <a class="footer_a {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="footer_li litem">
                    <a class="footer_a {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About Us</a>
                </li>
                <li class="footer_li litem">
                    <a class="footer_a {% if request.resolver_match.url_name == 'news' %}active{% endif %}" href="{% url 'news' %}">News</a>
                </li>
                <li class="footer_li litem">
                    <a class="footer_a {% if request.resolver_match.url_name == 'program-schedule' %}active{% endif %} " href="{% url 'program-schedule' %}">Schedule</a>
                </li>
                <li class="footer_li litem">
                    <a class="footer_a {% if request.resolver_match.url_name == 'archiev' %}active{% endif %}" href="{% url 'archiev' %}">Archiev</a>
                </li>                
                <li class="footer_li litem">
                    <a class="footer_a {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col_4">
            <ul class="footer_ul df">
                <li class="footer_li">
                    <a class="footer_a" href="#"><i class="cf cf-facebook-square footicon"></i></a>
                </li>
                <li class="footer_li">
                    <a class="footer_a" href="#"><i class="cf cf-skype footicon"></i></a>
                </li>
                <li class="footer_li">
                    <a class="footer_a" href="#"><i class="cf cf-twitter-square footicon"></i></a>
                </li>
                <li class="footer_li">
                    <a class="footer_a" href="#"><i class="cf cf-youtube-square footicon"></i></a>
                </li>
            </ul>
            <p class="copyright">Copyright © 2029 Good News FM 105.1 MHz. All Rights Reserved</p>
        </div>
        <div class="col_4">
            <h4>place for facebook likebox.(height:should be max 230px )</h4>
        </div>
    </div>
</footer>
</body>

</html>