<footer class="footer mt80">
    <div class="wrapper dg inner">
        <div class="col_4">
            <h3 class="footer_title">Short Navigation</h3>
            <ul class="footer_ul">
                <li class="footer_li litem">
                    <a class="footer_a active" href="#">Home</a>
                </li>
                <li class="footer_li litem">
                    <a class="footer_a" href="#">About Us</a>
                </li>
                <li class="footer_li litem">
                    <a class="footer_a" href="#">News</a>
                </li>
                <li class="footer_li litem">
                    <a class="footer_a" href="#">Our Team</a>
                </li>
                <li class="footer_li litem">
                    <a class="footer_a" href="#">Schedule</a>
                </li>
                <li class="footer_li litem">
                    <a class="footer_a" href="#">Archiev</a>
                </li>                
                <li class="footer_li litem">
                    <a class="footer_a" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col_4">
            <ul class="footer_ul df">
                <li class="footer_li">
                    <a class="footer_a" href="#"><i class="cf cf-facebook-square footicon"></i></a>
                </li>
                <li class="footer_li">
                    <a class="footer_a" href="#"><i class="cf cf-skype footicon"></i></a>
                </li>
                <li class="footer_li">
                    <a class="footer_a" href="#"><i class="cf cf-twitter-square footicon"></i></a>
                </li>
                <li class="footer_li">
                    <a class="footer_a" href="#"><i class="cf cf-youtube-square footicon"></i></a>
                </li>
            </ul>
            <p class="copyright">Copyright © 2029 Good News FM 105.1 MHz. All Rights Reserved</p>
        </div>
        <div class="col_4">
            <h4>place for facebook likebox.(height:should be max 230px )</h4>
        </div>
    </div>
</footer>
</body>

</html>