{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="banner owl-carousel owl-theme">
	{% for sl in sliderItems %}
		<div class="slider item dfc" style="background:url('{{ sl.image.file.url }}');">
			{% if sl.caption %}
				<h1 class="banner_title">{{sl.caption}}</h1>
			{% endif %}
		</div>
	{% endfor %}
</section>

<div class="wrapper dg news-outer mt80">
	<div class="col_4">
		<aside class="intro dfc">
			<h3 class="intro_title">{{ aboutUs.title }}</h3>
			{% if aboutUs.image %}
				<img src="{{ aboutUs.image.file.url }}" alt="{{ aboutUs.title }}">
			{% endif %}
			<p>{{ aboutUs.content|striptags|truncatechars:110 }}</p>
			<a class="btn btn-main btn-detail" href="{% url 'about' %}">Detail</a>
		</aside>
	</div>
	<div class="col_8 news_wrap">
		<a class="bl-title" href="{% url 'news' %}">News</a>
		<div class="dg news">
			{% for ni in news %}
			<a class="news_item col_6 df" href="{% url 'newsDetail' ni.id">
				{% if ni.image %}
					<img src="{{ ni.image.file.url }}" alt="{{ ni.title }}">
				{% else %}
					<img src="{% static 'images/default.jpg' %}" alt="{{ ni.title }}">
				{% endif %}
				<h5 class="news_title">{{ni.title}}</h5>
			</a>
			{% endfor %}
			
		</div>
	</div>
</div>


<div class="wrapper mt80">
	<a class="bl-title" href="#">Archiev</a>
	<div class="dg archiev">
		<a class="archiev_item col_4 df" href="#">
			<aside class="archiev_name dfc">
				<figure class="df archiev_sign df">
					<i class="cf cf-volume-up"></i> |
					<time>18-04-2080</time>
				</figure>
				<h6 class="archiev_title">Sermon/Words of God</h6>
			</aside>
			<img class="archiev_img" src="{% static 'images/proj1.jpg' %}" alt="proj1">
		</a>
		<a class="archiev_item col_4 df" href="#">
			<aside class="archiev_name dfc">
				<figure class="df archiev_sign df">
					<i class="cf cf-volume-up"></i> |
					<time>18-04-2080</time>
				</figure>
				<h6 class="archiev_title">Life Changing Testimony</h6>
			</aside>
			<img class="archiev_img" src="{% static 'images/proj2.jpg' %}" alt="proj2">
		</a>
		<a class="archiev_item col_4 df" href="#">
			<aside class="archiev_name dfc">
				<figure class="df archiev_sign df">
					<i class="cf cf-volume-up"></i> |
					<time>18-04-2080</time>
				</figure>
				<h6 class="archiev_title">Manko Pida</h6>
			</aside>
			<img class="archiev_img" src="{% static 'images/proj3.jpg' %}" alt="proj3">
		</a>
	</div>
</div>

<div class="wrapper mt80">
	<h5 class="bl-title">Gallery</h5>
	<ul class="dg gallery">

		<li class="gallery_item">
			<a href="{% static 'images/studio1.jpg' %}"><img src="{% static 'images/studio1.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/studio2.jpg' %}"><img src="{% static 'images/studio2.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/proj1.jpg' %}"><img src="{% static 'images/proj1.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/proj2.jpg' %}"><img src="{% static 'images/proj2.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/gal1.png' %}"><img src="{% static 'images/gal1.png' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/gal2.png' %}"><img src="{% static 'images/gal2.png' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/gal3.png' %}"><img src="{% static 'images/gal3.png' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/gal4.png' %}"><img src="{% static 'images/gal4.png' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/woman.jpg' %}"><img src="{% static 'images/woman.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/jhor.jpg' %}"><img src="{% static 'images/jhor.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/mandali.jpg' %}"><img src="{% static 'images/mandali.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/dhana.jpg' %}"><img src="{% static 'images/dhana.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/deu.jpg' %}"><img src="{% static 'images/deu.jpg' %}" alt="Image"></a>
		</li>

	</ul>
</div>

{% endblock %}