{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="banner owl-carousel owl-theme">
	{% for sl in sliderItems %}
		<div class="slider item dfc" style="background:url('{{ sl.image.file.url }}');">
			{% if sl.caption %}
				<h1 class="banner_title">{{sl.caption}}</h1>
			{% endif %}
		</div>
	{% endfor %}
</section>

<div class="wrapper dg news-outer mt80">
	<div class="col_4">
		<aside class="intro dfc">
			<h3 class="intro_title">{{ aboutUs.title }}</h3>
			{% if aboutUs.image %}
				<img src="{{ aboutUs.image.file.url }}" alt="{{ aboutUs.title }}">
			{% endif %}
			<p>{{ aboutUs.content|striptags|truncatechars:110 }}</p>
			<a class="btn btn-main btn-detail" href="{% url 'about' %}">Detail</a>
		</aside>
	</div>
	<div class="col_8 news_wrap">
		<a class="bl-title" href="{% url 'news' %}">News</a>
		<div class="dg news">
			{% for n in news %}
			<a class="news_item col_6 df" href="{% url 'newsDetail' n.id %}">
				{% if n.image %}
					<img src="{{ n.image.file.url }}" alt="{{ n.title }}">
				{% else %}
					<img src="{% static 'images/default.jpg' %}" alt="{{ n.title }}">
				{% endif %}
				<h5 class="news_title">{{n.title}}</h5>
			</a>
			{% endfor %}
			
		</div>
	</div>
</div>

<div class="wrapper mt80">
	<a class="bl-title" href="{% url 'archiev' %}">Archiev</a>
	<div class="dg archiev">

		{% for p in programs %}
			<a class="archiev_item col_4 df" href="{% url 'program_detail' p.id %}">
				<aside class="archiev_name dfc on_homepage">
					<figure class="df archiev_sign df">
						<i class="cf cf-volume-up"></i> |
						<time>{{ p.broadcast_date|date:"d M Y" }}</time>
					</figure>
					{% if p.audio_file %}
					<audio controls>
						<source src="{{ p.audio_file.file.url }}" type="audio/mpeg">
						Your browser does not support audio.
					</audio>
					{% endif %}
					<h6 class="archiev_title">{{ p.program_name }}</h6>
				</aside>
				{% if p.featured_image %}
					<img src="{{ p.featured_image.file.url }}" alt="{{ p.program_name }}" width="200">
				{% endif %}
			</a>
		{% endfor %}

	</div>
</div>

<div class="wrapper mt80">
	{% for gal in galleries %}
		<h5 class="bl-title">{{ gal.title }}</h5>
		<ul class="dg gallery">
		
			{% for img in gal.images.all %}
			<li class="gallery_item">
				<a href="{{ img.image.file.url }}" alt="{{img.caption}}"><img src="{{ img.image.file.url }}" alt="{{img.caption}}"></a>
			</li>
			{% endfor %}
		
		</ul>
	{% empty %}
		<p>No images yet.</p>
	{% endfor %}
</div>

{% endblock %}