{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="banner owl-carousel owl-theme">
	<div class="slider item dfc" style="background:url('static/images/woman.jpg');">
		<h1 class="banner_title">Provide correct information to people is our duty.</h1>
	</div>
	<div class="slider item dfc" style="background:url('static/images/studio1.jpg');">
		<h1 class="banner_title">Banner Title2</h1>
	</div>
	<div class="slider item dfc" style="background:url('static/images/studio2.jpg');">
		<h1 class="banner_title">Banner Title2</h1>
	</div>
</section>

<div class="wrapper dg news-outer mt80">
	<div class="col_4">
		<aside class="intro dfc">
			<h3 class="intro_title">Introduction of GOOD NEWS FM 105.1MHZ</h3>
			<img src="{% static 'images/rj.jpg' %}" alt="rj">
			<p>Christian Community of Nepal had been praying for a Christian Media for a couple</p>
			<a class="btn btn-main btn-detail" href="#">Detail</a>
		</aside>
	</div>
	<div class="col_8 news_wrap">
		<a class="bl-title" href="#">News</a>
		<div class="dg news">
			<a class="news_item col_6 df" href="#">
				<img src="{% static 'images/jhor.jpg' %}" alt="jhor">
				<h5 class="news_title">मलेशियाको जोहरमा तीन दिने सम्मेलन सम्पन्न</h5>
			</a>
			<a class="news_item col_6 df" href="#">
				<img src="{% static 'images/bhat.jpg' %}" alt="bhat">
				<h5 class="news_title">डा.भट्टराईले भने-'आस्था विपरीत राज्यले विभेद गरे अधिकारको पक्षमा उभिनेछु'</h5>
			</a>
			<a class="news_item col_6 df" href="#">
				<img src="{% static 'images/yuva.jpeg' %}" alt="yuba">
				<h5 class="news_title">यूवा शिखर सम्मेलन सकियो</h5>
			</a>
			<a class="news_item col_6 df" href="#">
				<img src="{% static 'images/aasa.jpg' %}" alt="aasa">
				<h5 class="news_title">आशाको सन्देश नेपालको दशौं वार्षिकोत्सव सम्पन्न</h5>
			</a>
			<a class="news_item col_6 df" href="#">
				<img src="{% static 'images/bhat.jpg' %}" alt="bhat">
				<h5 class="news_title">डा.भट्टराईले भने-'आस्था विपरीत राज्यले विभेद गरे अधिकारको पक्षमा उभिनेछु'</h5>
			</a>
			<a class="news_item col_6 df" href="#">
				<img src="{% static 'images/aasa.jpg' %}" alt="aasa">
				<h5 class="news_title">आशाको सन्देश नेपालको दशौं वार्षिकोत्सव सम्पन्न</h5>
			</a>
		</div>
	</div>
</div>


<div class="wrapper mt80">
	<a class="bl-title" href="#">Archiev</a>
	<div class="dg archiev">
		<a class="archiev_item col_4 df" href="#">
			<aside class="archiev_name dfc">
				<figure class="df archiev_sign df">
					<i class="cf cf-volume-up"></i> |
					<time>18-04-2080</time>
				</figure>
				<h6 class="archiev_title">Sermon/Words of God</h6>
			</aside>
			<img class="archiev_img" src="{% static 'images/proj1.jpg' %}" alt="proj1">
		</a>
		<a class="archiev_item col_4 df" href="#">
			<aside class="archiev_name dfc">
				<figure class="df archiev_sign df">
					<i class="cf cf-volume-up"></i> |
					<time>18-04-2080</time>
				</figure>
				<h6 class="archiev_title">Life Changing Testimony</h6>
			</aside>
			<img class="archiev_img" src="{% static 'images/proj2.jpg' %}" alt="proj2">
		</a>
		<a class="archiev_item col_4 df" href="#">
			<aside class="archiev_name dfc">
				<figure class="df archiev_sign df">
					<i class="cf cf-volume-up"></i> |
					<time>18-04-2080</time>
				</figure>
				<h6 class="archiev_title">Manko Pida</h6>
			</aside>
			<img class="archiev_img" src="{% static 'images/proj3.jpg' %}" alt="proj3">
		</a>
	</div>
</div>

<div class="wrapper mt80">
	<h5 class="bl-title">Gallery</h5>
	<ul class="dg gallery">

		<li class="gallery_item">
			<a href="{% static 'images/studio1.jpg' %}"><img src="{% static 'images/studio1.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/studio2.jpg' %}"><img src="{% static 'images/studio2.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/proj1.jpg' %}"><img src="{% static 'images/proj1.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/proj2.jpg' %}"><img src="{% static 'images/proj2.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/gal1.png' %}"><img src="{% static 'images/gal1.png' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/gal2.png' %}"><img src="{% static 'images/gal2.png' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/gal3.png' %}"><img src="{% static 'images/gal3.png' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/gal4.png' %}"><img src="{% static 'images/gal4.png' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/woman.jpg' %}"><img src="{% static 'images/woman.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/jhor.jpg' %}"><img src="{% static 'images/jhor.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/mandali.jpg' %}"><img src="{% static 'images/mandali.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/dhana.jpg' %}"><img src="{% static 'images/dhana.jpg' %}" alt="Image"></a>
		</li>
		<li class="gallery_item">
			<a href="{% static 'images/deu.jpg' %}"><img src="{% static 'images/deu.jpg' %}" alt="Image"></a>
		</li>

	</ul>
</div>

{% endblock %}