{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="wrapper dg detail page_detail mt80">
		<div class="col_9">
			<h2 class="title">{{ page.title }}</h5>
			<div class="content dfc">
				<aside class="img-outer">
                    {% if page.image %}
                        <img src="{{ page.image.file.url }}" alt="{{ page.title }}">
                    {% endif %}
					<!-- <img src="images/studio1.jpg" alt="studio1"> -->
				</aside>
                {{ page.content|safe }}				
			</div>			

		</div>
		<div class="col_3">
			<h4>Place for facebook follow page.</h4>
		</div>
	</div>

{% endblock %}