{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="wrapper dg detail page_detail mt80">
		<div class="col_9">
			<h2 class="title">{{ page.title }}</h5>
			<div class="content dfc">
				<aside class="img-outer">
                    {% if page.image %}
                        <img src="{{ page.image.file.url }}" alt="{{ page.title }}">
                    {% endif %}
					<!-- <img src="images/studio1.jpg" alt="studio1"> -->
				</aside>
                {{ page.content|safe }}
				<p>Christian Community of Nepal had been praying for a Christian Media for a couple of Years. The Lord Jesus answered our prayer in the Year 2006. Good News FM 105.1 MHz was registered in the Ministry of Information and Communication of Nepal Government in 2006. We dedicate this Radio Station to the Christian Community of Nepal.</p>
				<p>The Radio Station is situated at the heart of city which is the north wall of Prime Minister’s Office Singha Durbar, Kathmandu, Nepal. It has been On Air since the Christmas day of the Year 2007. This is only one FM Radio station all among the SAARC countries which is run by the Christian Community of Nepal.</p>
				<p><strong>Vision:</strong>To see all Nepalese people transformed by the Gospel of Jesus Christ and be disciple who makes disciples.</p>
				<p><strong>Mission:</strong>We exist to reach different people groups with relevant media and equip believers for the expansion of the Kingdom of God.</p>
				<p><strong>Since dated 30th March 2018 Good News FM Radio Broadcast upgraded into 500 Watt Power.</strong></p>
			</div>			

		</div>
		<div class="col_3">
			<h4>Place for facebook follow page.</h4>
		</div>
	</div>

{% endblock %}