{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="wrapper mt80 program_schedule">
	<h5 class="bl-title">Program Schedule</h5>

	<div id="proj-sch" class="dg schedule">
		<ul class="schedule_tab col_12 df">
			{% for day in days %}
			<li><a href="#{{ day }}">{{ day }}</a></li>
			{% endfor %}
		</ul>

		{% for day in days %}
		<div id="{{ day }}" class="schedule_content col_12">
			<ul class="schedule_ul dfc">
				{% for s in schedule %}
				{% if s.get_day_display == day %}
				<li class="schedule_li">
					<strong>{{ s.program_name }}</strong>
					<span>{{ s.start_time|time:"H:i" }} - {{ s.end_time|time:"H:i" }}</span>
				</li>
				{% endif %}
				{% empty %}
				<li class="schedule_li">
					<span>No programs found.</span>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>

</div>

{% endblock %}