{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="wrapper dg listing team mt80">
	<div class="col_9">
		<h5 class="bl-title">Our Team</h5>
		<h5 class="sub-title">{{title}}</h5>
		<div class="listing dg team">
			{% for mem in members %}
			<aside class="col_3 dfc item">
				<img src="{{mem.profile_image.file.url}}" alt="{{mem.name}}">
				<figure>
					<figcaption class="name h6">{{mem.name}}</figcaption>
					<figcaption class="post h7">{{mem.designation}}</figcaption>
				</figure>
			</aside>
			{% empty %}
			<aside class="col_12 dfc item p-1">
				<p>No members found.</p>
			</aside>
			{% endfor %}
		</div>
	</div>
	<div class="col_3">
		<h4>Place for facebook follow page.</h4>
	</div>
</div>
{% endblock %}